<div class="blockModalPopup">
</div>

<div class="appPopup">
	<div class="appPopupHeader">
		<div class="appPopupTitle TITLE">
		</div>
		<div class="appPopupCloseBtn" style="cursor:pointer;">
		</div>
		<div style="clear:both;">
			
		</div>
	</div>
	
	<div class="appPopupContent">
		<div style="padding:25px;">
		<div class="left">
			<label class="FIELD_ACCOUNT inlineBlock">
			</label>
		</div>
		<div class="right">
			<input id="popupAddEmailFieldHost" type="hidden" value="gmail" class="fuseBlack" />
	       <div class="mi-reply-btn" style="width:236px; margin-top:-5px;">
				<div class="btnLeft">
				</div>
				<div class="btnCenter" style="width:198px;">
					<span class="selected_account_type">Gmail</span>
				</div>
				<div id="mi-reply-dropdown" class="btnRight" id="select_account_type">
					<div class="mi-arrow">
				</div>
				</div>
				<div class="btnRight-border">
				</div>
			</div>
			<div class="account_select_holder">
				<div class="account_select_pop">
					<div class="account_select_inner">
						<div class="account_holder_item">Gmail</div>
						<div class="account_holder_item">Yahoo! Mail</div>
						<div class="account_holder_item">Windows Live Hotmail</div>
						<div class="account_holder_item">Other</div>
					</div>
				</div>
			</div>
       	</div>
		</div>
		<hr/>
		<div style="padding:25px; padding-top:10px; padding-bottom:0px;">

		<div class="left" style="padding-top:10px;">
			<label class="FIELD_ADDRESS inlineBlock" class="fuseBlack" for="popupAddEmailFieldAddress">
			</label>
		</div>
		<div class="right">
			<input id="popupAddEmailFieldAddress" type="text" class="fuseBlack" />
			<div class="appPopup_validation VALIDATE_ADDRESS" id="appPop_validate_address">
				
			</div>
		</div>
		<div style="clear:both;">
		</div>
		<div class="left" style="padding-top:10px;">
			<label class="FIELD_PASSWORD inlineBlock" class="fuseBlack" for="popupAddEmailFieldPassword">
			</label>
		</div>
		<div class="right">
			<input id="popupAddEmailFieldPassword" type="password" class="fuseBlack" />
			<div class="appPopup_validation VALIDATE_PASSWORD" id="appPop_validate_password">
				
			</div>
		</div>
		<div style="clear:both;">
		</div>
		<div class="left" style="padding-top:10px;">
			<label class="FIELD_POP_HOSTNAME inlineBlock" class="fuseBlack" for="popupAddEmailFieldPopHostName">
			</label>
		</div>
		<div class="right">
			<input id="popupAddEmailFieldPopHostName" type="text" class="fuseBlack" />
			<div class="appPopup_validation VALIDATE_HOSTNAME" id="appPop_validate_hostname">
				
			</div>
		</div>
		<div style="clear:both;">
		</div>
		
		<div class="left" style="padding-top:10px;">
			<label class="FIELD_POP_SERVERTYPE inlineBlock" class="fuseBlack" for="popupAddEmailFieldPopServerType">
			</label>
		</div>
		<div class="right">
			<input id="popupAddEmailFieldPopServerType" type="text" class="fuseBlack" />
		</div>
		<div style="clear:both;">
		</div>
		<div class="left" style="padding-top:10px;">
			<label class="FIELD_POP_PORT inlineBlock" class="fuseBlack" for="popupAddEmailFieldPopPort">
			</label>
		</div>
		<div class="right">
			<input id="popupAddEmailFieldPopPort" type="text" class="fuseBlack" />
		</div>
		<div class="left" style="padding-top:10px;">
			<label class="FIELD_POP_SSL inlineBlock" class="fuseBlack" for="popupAddEmailFieldPopSsl">
			</label>
		</div>
		<div class="right" style="text-align:left;">
			<input id="popupAddEmailFieldPopSsl" type="checkbox" class="fuseBlack" />
		</div>
		<div style="clear:both;">
			
		</div>
		</div>
		</div>
		<hr />
		
		<div style="padding:20px; padding-top:8px;">
			<div class="appPopup_button BTN_ADD_CONTACT">
			</div>
			<div class="appPopup_button2 BTN_CANCEL">
			</div>
		</div>
		
	</div>
</div>
