<div id="settingsTree">
	
	<h3 class="SETTINGS_LEFT_MENU_TITLE"  class="title">
	</h3>
	<ul>
		<li>
			<a href="#settings/accountSettings" class="SETTINGS_LEFT_MENU_ACCOUNT_STTINGS_LINK selected"></a>
			<hr/>
		</li>
		<li>
			<a href="#settings/privacySettings" class="SETTINGS_LEFT_MENU_PRIVACY_SETTINGS_LINK"></a>
			<hr/>
		</li>
		<li>
			<a href="#settings/mailboxSettings" class="SETTINGS_LEFT_MENU_MAILBOX_STTINGS_LINK">			
			</a>
			<hr/>
		</li>
		<li>
			<a href="#settings/profile" class="SETTINGS_LEFT_MENU_PROFILE_LINK">
			</a>
			<hr/>
		</li>
	</ul>
</div>

