<div id="foldersTreeContainer">
	<ul id="foldersTreeContainerInner">
		
		<li>
			<div class="folderTreeComposeBtn btnRed150x37">
				<div class="btnLeft">
				</div>
				<div class="btnCenter BTN_COMPOSE">
				</div>
				<div class="btnRight">
				</div>
			</div>
		</li>
		
		<li>
			<ul id="foldersTree">
			</ul>
		</li>
	
		<li class="staticItem">
			<a href="#settings/accountSettings" class="SETTINGS_FOLDER_ITEM folderBtn textLarge">
			</a>
			<hr/>
		</li>
		
		<li id="createNewFolderBox" class="staticItem">
			<a id="createNewFolderBtn" href="javascript:void(0);" class="BTN_CREATE_NEW_FOLDER">
			</a>
			
			<div id="createNewFolderForm">
				
				<div class="input149x30">
					<div class="inputLeft">
					</div>
					<input id="formCreateNewFolderInput" class="CREATE_NEW_FOLDER_FORM_INPUT_DEFAULT inputCenter" type="text" />
					<div class="inputRight">
					</div>
				</div>
				
				<div class="buttonsWrapper">
					<div id="formCreateNewFolderBtn" class="btnGray70x31">
						<div class="btnLeft">
						</div>
						<div class="btnCenter CREATE_NEW_FOLDER_FORM_BTN_CREATE">
						</div>
						<div class="btnRight">
						</div>
					</div>
					
					<a href="javascript:void(0);" id="createNewFolderCancelBtn" class="CREATE_NEW_FOLDER_FORM_BTN_CANCEL">
					</a>
				</div>
					
			</div>
		</li>
		
	</ul>
</div>