<div class="barTop-filter-icons-wrapper">

	<div class="barTop-im">
		<div class="barTop-im-icon">
				
		</div>
	</div>
	
	<div class="barTop-sms">
		<div class="barTop-sms-icon">
			
		</div>
	</div>
	
	<div class="barTop-im-popup-wrapper" style='float:right; position:absolute;'>
		<div class="barTop-im-popup">
			<div class="barTop-im-popup-inner" style="padding:10px;">
				
			</div>
			<hr />
			<div class="barTop-im-popup-bottom" style="height:30px; background:#FBFBFB;">
				
			</div>
		</div>
	</div>
</div>

<div class="barTop-icons-wrapper">
	<div class="barTop-print"></div>
	<div class="expand-btn">
		<div class="expand-btn-left"></div>
		<div class="expand-btn-center">
			expand all
		</div>
		<div class="expand-btn-right"></div>
	</div>
</div>
