<div class="progressBar float">
	<div class="bar173x28">
		<div class="barLeft">
		</div>
		<div class="barCenter">
		</div>
		<div class="barRight">
		</div>
	</div>
	
	<div class="progress20x21">
		<div class="progressLeft">
		</div>
		<div class="progressCenter usagePercent">0%</div>
		<div class="progressRight">
		</div>	
	</div>
</div>

<div class="usageData float">
	<span class="USAGE_DATA_FIRST_PART">
	</span>&nbsp;
	<span class="usageDataUsed">
	</span>&nbsp;
	<span class="USAGE_DATA_SECOND_PART">
	</span>&nbsp;
	<span class="usageDataAvailable">
	</span>&nbsp;
	<span class="USAGE_DATA_THIRD_PART">
	</span>
</div>