<h2 class="CAL_ACCOUNTS_TITLE">
</h2>
<hr/>

<div class="settingsFormBox">
	<div class="settingsFormBoxTopPadder">
		
		<div id="calAccountsTabs" class="tabs">
			
			<!-- Tab Buttons -->
			<ul class="tabButtons float">
				<li id="GoogleCalSideTab" class="" data-type="CAL_GOOGLE">
					<div>
						<span class="inlineBlock checkedState">
						</span>
						<span class="CAL_ACCOUNTS_GOOGLE_TAB_BTN fuseBlack textLarge">
						</span>
					</div>
				</li>
				<li id="ICloudSideTab" class="" data-type="CAL_ICLOUD">
					<div>
						<span class="inlineBlock checkedState">
						</span>
						<span class="CAL_ACCOUNTS_ICLOUD_TAB_BTN fuseBlack textLarge">
						</span>
					</div>
				</li>
			</ul>
			<!-- End Tab Buttons -->
			
			<!-- Google Calendar -->
			<div id="tabCalGoogle" class="tabContent fuseBlack" data-type="CAL_GOOGLE">
				<div class="tabContentInner">
					
					<div class="connectionArea">
						<h3 class="CAL_ACCOUNTS_GOOGLE_TAB_TITLE">
						</h3>
						<ul>
							<li>
								<label class="CAL_ACCOUNTS_GOOGLE_TAB_USERNAME_INPUT inlineBlock" for="calGoogleUsername">
								</label>
								<input id="calGoogleUsername" type="text" class="fuseBlack username"/>
							</li>
							<li>
								<label class="CAL_ACCOUNTS_GOOGLE_TAB_PASSWORD_INPUT inlineBlock fuseBlack" for="calGooglePassword">
								</label>
								<input id="calGooglePassword" type="password" />
							</li>
						</ul>
						
						<div class="connectBtn btnRed90x34" style="margin-left:213px;">
							<div class="btnLeft">
							</div>
							<div class="btnCenter CAL_ACCOUNTS_GOOGLE_TAB_CONNECT_BTN">
							</div>
							<div class="btnRight">
							</div>
						</div>
					</div>
					
					<div class="alreadyConnectedArea">
						<h3 class="CAL_ACCOUNTS_ALREADY_CONNECTED_AREA_TITLE">
						</h3>
						
						<div class="serviceTitleWrapper alreadyConnectedAreaRow">
							<span class="CAL_ACCOUNTS_ALREADY_CONNECTED_AREA_SERVICE_NAME">
							</span>
							<span class="serviceTitle"></span>
						</div>
						
						<div class="serviceUsernameWrapper alreadyConnectedAreaRow">
							<span class="CAL_ACCOUNTS_SETTINGS_USERNAME">
							</span>
							<span class="username">
							</span>
						</div>
						
						<div class="alreadyConnectedAreaButtons alreadyConnectedAreaRow">
							<div class="disconnectBtn btnRed118x37 right">
								<div class="btnLeft">
								</div>
								<div class="btnCenter CAL_ACCOUNTS_DISCONNECT_BTN">
								</div>
								<div class="btnRight">
								</div>
							</div>
							
							<div class="editBtn btnRed90x34 right">
								<div class="btnLeft">
								</div>
								<div class="btnCenter CAL_ACCOUNTS_EDIT_BTN">
								</div>
								<div class="btnRight">
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<!-- End Google Calendar -->
			
			<!-- iCloud Calendar -->
			<div id="tabCaliCloud" class="tabContent fuseBlack" data-type="CAL_ICLOUD">
				<div class="tabContentInner">
					
					<div class="connectionArea">
						<h3 class="CAL_ACCOUNTS_ICLOUD_TAB_TITLE">
						</h3>
						<ul>
							<li>
								<label class="CAL_ACCOUNTS_ICLOUD_TAB_USERNAME_INPUT inlineBlock" for="calICloudUsername">
								</label>
								<input id="calICloudUsername" type="text" class="fuseBlack username" />
							</li>
							<li>
								<label class="CAL_ACCOUNTS_ICLOUD_TAB_PASSWORD_INPUT inlineBlock fuseBlack" for="calICloudPassword">
								</label>
								<input id="calICloudPassword" type="password" />
							</li>
						</ul>
						
						<div class="connectBtn btnRed90x34" style="margin-left:213px;">
							<div class="btnLeft">
							</div>
							<div class="btnCenter CAL_ACCOUNTS_ICLOUD_TAB_CONNECT_BTN">
							</div>
							<div class="btnRight">
							</div>
						</div>
					</div>
					
					<div class="alreadyConnectedArea">
						<h3 class="CAL_ACCOUNTS_ALREADY_CONNECTED_AREA_TITLE">
						</h3>
						
						<div class="serviceTitleWrapper alreadyConnectedAreaRow">
							<span class="CAL_ACCOUNTS_ALREADY_CONNECTED_AREA_SERVICE_NAME">
							</span>
							<span class="serviceTitle"></span>
						</div>
						
						<div class="serviceUsernameWrapper alreadyConnectedAreaRow">
							<span class="CAL_ACCOUNTS_SETTINGS_USERNAME">
							</span>
							<span class="username">
							</span>
						</div>
						
						<div class="alreadyConnectedAreaButtons alreadyConnectedAreaRow">
							<div class="disconnectBtn btnRed118x37 right">
								<div class="btnLeft">
								</div>
								<div class="btnCenter CAL_ACCOUNTS_DISCONNECT_BTN">
								</div>
								<div class="btnRight">
								</div>
							</div>
							
							<div class="editBtn btnRed90x34 right">
								<div class="btnLeft">
								</div>
								<div class="btnCenter CAL_ACCOUNTS_EDIT_BTN">
								</div>
								<div class="btnRight">
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<!-- End iCloud Calendar -->
		</div>
	</div>
</div>