<h2 class="SNIM_ACCOUNTS_TITLE">
</h2>
<hr/>

<div class="settingsFormBox">
	<div class="settingsFormBoxTopPadder">
		<div id="snimAccountsDescription" class="SNIM_ACCOUNTS_DESCRIPTION">
		</div>
		
		<div id="snimAccountsTabs" class="tabs">
			<ul class="tabButtons float">
				<li id="GtalkSideTab" class="selected">
					<div>
						<span class="inlineBlock checkedState">
						</span>
						<a href="javascript:void(0);" class="SNIM_ACCOUNTS_GTALK_TAB_BTN fuseBlack textLarge">
						</a>
					</div>
				</li>
				<li id="YahooSideTab" class="snimExists">
					<div>
						<span class="inlineBlock checkedState">
						</span>
						<a href="javascript:void(0);" class="SNIM_ACCOUNTS_YAHOO_CHAT_TAB_BTN fuseBlack textLarge">
						</a>
					</div>
				</li>
				<li id="FacebookSideTab">
					<div>
						<span class="inlineBlock checkedState">
						</span>
						<a href="javascript:void(0);" class="SNIM_ACCOUNTS_FACEBOOK_CHAT_TAB_BTN fuseBlack textLarge">
						</a>
					</div>
				</li>
				<li id="MessangerSideTab">
					<div>
						<span class="inlineBlock checkedState">
						</span>
						<a href="javascript:void(0);" class="SNIM_ACCOUNTS_MESSENGER_TAB_BTN fuseBlack textLarge">
						</a>
					</div>
				</li>
			</ul>
			
			<div id="tabGtalk" class="tabContent selected fuseBlack">
				<div class="tabContentInner">
					<h3 class="SNIM_ACCOUNTS_GTALK_TAB_TITLE">
					</h3>
					<ul>
						<li>
							<label class="SNIM_ACCOUNTS_GTALK_TAB_USERNAME_INPUT inlineBlock" for="gtalkUsername">
							</label>
							<input id="gtalkUsername" type="text" class="fuseBlack" />
						</li>
						<li>
							<label class="SNIM_ACCOUNTS_GTALK_TAB_PASSWORD inlineBlock fuseBlack" for="gtalkPassword">
							</label>
							<input id="gtalkPassword" type="password" />
						</li>
					</ul>
					
					<div id="connectGtalkBtn" class="btnRed90x34">
						<div class="btnLeft">
						</div>
						<div class="btnCenter SNIM_ACCOUNTS_GTALK_TAB_CONNECT_BTN">
						</div>
						<div class="btnRight">
						</div>
					</div>
				</div>
			</div>
			
			<div id="tabYahoo" class="tabContent">
				<div class="tabContentInner">
					<h3 class="SNIM_ACCOUNTS_YAHOO_TAB_TITLE">
					</h3>
					<ul>
						<li>
							<label class="SNIM_ACCOUNTS_YAHOO_TAB_USERNAME_INPUT inlineBlock" for="gtalkUsername">
							</label>
							<input id="yahooUsername" type="text" class="fuseBlack" />
						</li>
						<li>
							<label class="SNIM_ACCOUNTS_YAHOO_TAB_PASSWORD inlineBlock fuseBlack" for="gtalkPassword">
							</label>
							<input id="yahooPassword" type="password" />
						</li>
					</ul>
					
					<div  class="connectGtalkBtn btnRed90x34">
						<div class="btnLeft">
						</div>
						<div class="btnCenter SNIM_ACCOUNTS_YAHOO_TAB_CONNECT_BTN">
						</div>
						<div class="btnRight">
						</div>
					</div>
				</div>
			</div>
			
			<div id="tabFacebook" class="tabContent">
				<div class="tabContentInner">
					
				</div>
			</div>
			
			<div id="tabMessenger" class="tabContent">
				<div class="tabContentInner">
					<h3 class="SNIM_ACCOUNTS_MESSANGER_TAB_TITLE">
					</h3>
					<ul>
						<li>
							<label class="SNIM_ACCOUNTS_MESSANGER_TAB_USERNAME_INPUT inlineBlock" for="gtalkUsername">
							</label>
							<input id="msnUsername" type="text" class="fuseBlack" />
						</li>
						<li>
							<label class="SNIM_ACCOUNTS_MESSANGER_TAB_PASSWORD inlineBlock fuseBlack" for="gtalkPassword">
							</label>
							<input id="msnPassword" type="password" />
						</li>
					</ul>
					
					<div class="connectGtalkBtn btnRed90x34">
						<div class="btnLeft">
						</div>
						<div class="btnCenter SNIM_ACCOUNTS_MESSANGER_TAB_CONNECT_BTN">
						</div>
						<div class="btnRight">
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
